In [13]:
import mysql.connector as connection
import pandas as pd
try:
    mydb = connection.connect(host="localhost", database = 'pbll',user="root", passwd="",use_pure=True)
    query = "Select * from pesanan;"
    result_dataFrame = pd.read_sql(query,mydb)
    print(result_dataFrame.head())
    mydb.close() #close the connection
except Exception as e:
    mydb.close()
    print(str(e))

   id  id_jenis_layanan  id_pelanggan  id_status_laundry  total_harga  \
0   2                 5             3                  3            0
1   3                 6             5                  1            0
2   4                 6             4                  1            0
3   5                 7             6                  2            0
4   6                 4             4                  1            0

  waktu_pesanan_datang  berat status_pembayaran    estimasi_selesai  diskon  \
0  2024-03-17 09:03:04    0.0             belum 2025-01-29 08:01:44     0.0
1                  NaT    0.0             belum 2025-06-19 06:06:54     0.0
2                  NaT    0.0             belum                 NaT     0.0
3                  NaT    0.0             belum                 NaT     0.0
4  2024-04-25 09:04:04    0.0             belum                 NaT     0.0

  waktu_pesanan_selesai
0                   NaT
1                   NaT
2                   NaT
3                   NaT
4                   NaT

C:\Users\User\AppData\Local\Temp\ipykernel_3108\3078388771.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_dataFrame = pd.read_sql(query,mydb)

In [20]:
import mysql.connector as connection
import pandas as pd
try:
    mydb = connection.connect(host="localhost", database = 'pbll',user="root", passwd="",use_pure=True)
    
    query = "Select * from pesanan;"
    result_dataFrame = pd.read_sql(query,mydb)
    print(result_dataFrame.head())
    result_dataFrame.to_csv('pesananLaundry.csv')
    mydb.close() #close the connection
except Exception as e:
    mydb.close()
    print(str(e))

   id  id_jenis_layanan  id_pelanggan  id_status_laundry  total_harga  \
0   2                 5             3                  3            0
1   3                 6             5                  1            0
2   4                 6             4                  1            0
3   5                 7             6                  2            0
4   6                 4             4                  1            0

  waktu_pesanan_datang  berat status_pembayaran    estimasi_selesai  diskon  \
0  2024-03-17 09:03:04    0.0             belum 2025-01-29 08:01:44     0.0
1                  NaT    0.0             belum 2025-06-19 06:06:54     0.0
2                  NaT    0.0             belum                 NaT     0.0
3                  NaT    0.0             belum                 NaT     0.0
4  2024-04-25 09:04:04    0.0             belum                 NaT     0.0

  waktu_pesanan_selesai
0                   NaT
1                   NaT
2                   NaT
3                   NaT
4                   NaT

C:\Users\User\AppData\Local\Temp\ipykernel_3108\2388088143.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_dataFrame = pd.read_sql(query,mydb)